<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mostrar-maps"></ion-back-button>
    </ion-buttons>

    <ion-title>descricao-lava</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <img [src]="lavacao.photo"/>
    <p class="ion-text-center">{{lavacao.description}}</p>
    <h2 class="ion-text-center">Empresa: <strong>{{lavacao.name}}</strong></h2>
    <h2 class="ion-text-center">Especialidade: <strong>{{lavacao.type}}</strong></h2>
    <h2 class="ion-text-center">Atendimento: <strong>{{lavacao.attendance}}</strong></h2>
    <h2 class="ion-text-center">Contato: <strong>{{lavacao.contact.phone}}</strong></h2>

    <ion-button routerLink="/solicitar-lava" routerDirection="root" class="bg-lavacao center bold2 mg-top--15">
      Solicitar lavacao
    </ion-button>
</ion-content>
