<ion-content>
  <!--BACKGROUND-->
  <div class="bg-login">
    <div class="degrade">
      <!--CONTEUDO LOGIN-->
      <div>
         <!--LOGO LOGIN-->
         <div class="center padding-top-30">
           <img src="/assets/imgs/logo.png" class="logo-login">
         </div>

         <!--TEXTOS LOGIN-->
         <div class="mg-top-20">
           <!--TITULO-->
           <h5 class="light-cyan center bold">
             Seja bem-vindo ao LimpeCars!
           </h5>
           <!--SUBTITULO-->
           <p class="light-cyan center light">
             Entre com sua conta
           </p>
         </div>

         <!--INPUTS-->
          <div>
            <ion-item class="bg-transparent">
              <ion-label stacked class="light-cyan">E-mail</ion-label>
              <ion-input type="email" clearInput></ion-input>
            </ion-item>
          </div>
      </div>
    </div>
  </div>
</ion-content>