<ion-content>
  <!--BACKGROUND-->
  <div class="bg-login">
    <div class="degrade">
      <!--CONTEUDO LOGIN-->
      <div>
         <!--LOGO LOGIN-->
         <div class="center padding-top-30">
           <img src="/assets/imgs/logo.png" class="logo-login">
         </div>

         <!--TEXTOS LOGIN-->
         <div class="mg-top-20">
           <!--TITULO-->
           <h5 class="light-cyan center bold">
             Seja bem-vindo ao LimpeCars!
           </h5>
           <!--SUBTITULO-->
           <p class="light-cyan center light">
             Entre com sua conta
           </p>
         </div>

         <!--INPUTS-->
          <div class="padding-20">
            <ion-item class="bg-transparent no-padding">
              <ion-label stacked class="black">E-mail:</ion-label>
              <ion-input type="email" clearInput></ion-input>
            </ion-item>

            <ion-item class="bg-transparent mg-top-10">
              <ion-label stacked class="black">Senha:</ion-label>
              <ion-input type="password" clearInput></ion-input>
            </ion-item>
          </div>

          <!--BOTAO ENTRAR-->
          <div class="padding-40">
            <div class="bg-entrar center bold mg-top-15">
              Entrar
            </div>
          </div>

          <div class="bg-registrar bold2 mg-top-20 center">
            (Criar uma nova conta agora)
          </div>
      </div>
    </div>
  </div>
</ion-content>