  
.container {
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    z-index: 2;

    &.top {
        top: 10%;
    }

    &.bottom {
        bottom: 30%;

        span {
            color: #fff;
        }
    }
}

.bg-class{
    --background: linear-gradient(#B1EDE8 0%, #0075F2 100%) !important;
}

.bg-div{
    top : 20%;
}


.imagem{
    position: absolute;
    left: 0;
    right: 0;
    width: 40%;
    top: -2%;
    margin: 0 auto;

}

ion-slides {
    height: 100%;

    .slide-inner {
        width: 75%;
        color: #fff;
        background-color: #0072bc;
        border-radius: 10px;

        ion-item {
            --background: rgba(255, 255, 255, 0.2);
            --border-radius: 10px;

            ion-input {
                --color: #fff;
            }
        }
    }
}