<ion-content>
  <!--LOGIN-->
  <div class="bg-login" *ngIf="login" [@login]>
    <div class="degrade">
      <!--CONTEUDO LOGIN-->
      <div>
         <!--LOGO LOGIN-->
         <div class="center padding-top-30">
           <img src="./assets/imgs/logo.png" class="logo-login">
         </div>

         <!--TEXTOS LOGIN-->
         <div class="mg-top-20">
           <!--TITULO-->
           <h5 class="light-cyan center bold">
             Seja bem-vindo ao LimpeCars!
           </h5>
           <!--SUBTITULO-->
           <p class="light-cyan center light">
             Entre com sua conta
           </p>
         </div>

         <!--INPUTS-->
            <ion-item class="bg-transparent no-padding col">
              <ion-label stacked class="white" position="floating">E-mail</ion-label>
              <ion-input type="email" clearInput class="white" #myInput [(ngModel)]="loginForm.email"></ion-input>
            </ion-item>

            <ion-item class="bg-transparent mg-top-10 no-padding col">
              <ion-label stacked class="white" position="floating">Senha</ion-label>
              <ion-input type="password" clearInput class="white" #myInput [(ngModel)]="loginForm.password"></ion-input>
            </ion-item>

          <ion-row>
            <ion-col widht-50 style="text-align: center">
              <!--BOTAO ENTRAR-->
                <button ion-button class="bg-entrar center bold2 mg-top--15" (click)="efetuarLogin()">
                    Entrar
                  </button>
            </ion-col>
          </ion-row>
          

          <div class="bg-registrar bold2 mg-top-15 center" (click)="exibirRegistrar()">
            Crie uma nova conta agora
          </div>
      </div>
    </div>
  </div>

  <!--REGISTER-->
  <div class="bg-register" *ngIf="register" [@registro]>
    <div class="degrade">
      <!--CONTEUDO REGISTER-->
      <div>
         <!--LOGO REGISTER-->
         <div class="center padding-top-30">
           <img src="./assets/imgs/logo.png" class="logo-login">
         </div>

         <!--TEXTOS REGISTER-->
         <div class="mg-top-20">
           <!--TITULO-->
           <h5 class="light-cyan center bold">
             Crie sua conta já!
           </h5>
           <!--SUBTITULO-->
           <p class="light-cyan center light">
             Cadastre-se para acessar o aplicativo
           </p>
         </div>

         <!--INPUTS-->
          <div class="padding-20">
            <ion-item class="bg-transparent no-padding">
              <ion-label stacked class="white" position="floating">Qual seu nome?</ion-label>
              <ion-input type="text" clearInput class="white" [(ngModel)]="registerForm.name"></ion-input>
            </ion-item>

            <ion-item class="bg-transparent mg-top-10">
              <ion-label stacked class="white" position="floating">Qual seu e-mail?</ion-label>
              <ion-input type="email" clearInput class="white" [(ngModel)]="registerForm.email"></ion-input>
            </ion-item>

            <ion-item class="bg-transparent mg-top-10">
              <ion-label stacked class="white" position="floating">Qual sua senha?</ion-label>
              <ion-input type="password" clearInput class="white" [(ngModel)]="registerForm.password"></ion-input>
            </ion-item>
          </div>

          <ion-row>
              <ion-col widht-50 style="text-align: center">
                <!--BOTAO ENTRAR-->
                <button ion-button class="bg-cadastro center bold2 mg-top--16" (click)="criarConta()">
                  Cadastrar
                </button>
             </ion-col>
          </ion-row>

          <div class="bg-registrar bold2 mg-top-15 center" (click)="exibirLogin()">
            Já possui uma conta? Clique aqui!
          </div>
      </div>
    </div>
  </div>
</ion-content>