<ion-toolbar color="primary">
    <ion-title class="center">Mapa Lavações</ion-title>
  <ion-buttons slot="primary">
    <ion-button (click)="goBack()">
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div id='map_canvas'>
    <!--BOTAO CADASTRAR LAVAÇÃO-->
    <div class="padding-40">
      <div class="bg-lavacao center bold2 mg-top--15" (click)="cadastroLavacao()">
        Cadastrar Lavação
      </div>
    </div>
  </div>

</ion-content>
