.bg-transparent{
    --ion-background-color: transparent;
    --ion-border-color: black;
}

.bg-lavacao{
    padding: 15px;
    background-color: blue;
    border-radius: 100px;
    width: 80%;
    color: white;
}

.degrade{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(27, 27, 27), transparent);
}

.bg-degrade{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(85, 58, 243), rgb(5, 160, 134));
}

//Alinhamento
.center{
    text-align: center;
}

//Margens
.mg-top--15{
    margin-top: 50px;
}

.mg-top-15{
    margin-top: 15px;
}

.mg-top-25{
    margin-top: -25px;
}

.mg-top-5{
    margin-top: 5px;
}
.mg-top--5{
    margin-top: 5px;
}

.mg-top-10{
    margin-top: 10px;
}

.mg-top-20{
    margin-top: 20px;
}

.mg-top-30{
    margin-top: 30px;
}

//Espacamento
.no-padding{
    padding: 0px;
}

.padding-20{
    padding: 10px;
}

.padding-top-30{
    padding-top: 30px;
}

.padding-40{
    padding: 40px;
}

//Cores

.light-blue{
    color: #92DCE5;
}

.platinum{
    color: #EEE5E9;
}

.tif-blue{
    color: #03B5AA;
}

.light-cyan{
    color: #D2FDFF;
}

.white{
    color: white;
    border: white;
}

.black{
    color: black;
    border: black;
}

//Fontes

.bold{
    font-weight: 800;
}

.bold2{
    font-weight: 600;
}

.light{
    font-weight: 400;
}