<ion-header>
  <ion-toolbar>
    <ion-title>solicitar-lava</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding-40">
    <ion-item>
      <ion-label color="primary" position="floating">Assunto</ion-label>
      <ion-input [(ngModel)]="assunto" type="text" placeholder="Informe o seu e-mail"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" position="floating">Texto</ion-label>
        <ion-input [(ngModel)]="corpo" type="text" placeholder="Informe o assunto"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" position="floating">Destinatário</ion-label>
        <ion-input [(ngModel)]="destinatario" type="text" placeholder="Destinatário"></ion-input>
    </ion-item>

    <button ion-button block (click)="enviar()">Enviar e-mail</button>
  </div>

</ion-content>
