<ion-header>
  <ion-toolbar>
    <ion-title>solicitar-lava</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding-40">
    <ion-item>
        <ion-label color="primary" position="floating">Para</ion-label>
        <ion-input [(ngModel)]="para" type="text" clearInput placeholder="Informe o destinatário"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Subject</ion-label>
      <ion-input [(ngModel)]="assunto" type="text" clearInput placeholder="Informe o assunto"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" position="floating">Body</ion-label>
        <ion-textarea [(ngModel)]="corpo" clearInput placeholder="Informe o que deseja enviar"></ion-textarea>
    </ion-item>

    <button ion-button block (click)="enviar()">Enviar e-mail</button>
  </div>

</ion-content>
